server:
  port: 8088


spring:
  redis:
    password:
    host: 127.0.0.1
    port: 6379
    timeout: 10000

  datasource:
    url: jdbc:mysql://167.179.68.29:3306/graduation?useSSL=false&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&allowMultiQueries=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    platform: mysql
    type: com.alibaba.druid.pool.DruidDataSource
    username: root
    password: dR+1aXb4vjLpO0LmfaLHXAQQXa6bqmPg+jZz/t3P
    druid:
      initialSize: 1
      minIdle: 3
      maxActive: 20
      maxWait: 60000
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 30000
      validationQuery: select 'x'
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      filters: stat,wall,slf4j
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  http:
    encoding:
      charset: UTF-8

mybatis-plus:
  mapperLocations: ["classpath:mybatis/*Mapper.xml"]
  type-aliases-package: com.juno.competitionmanagementsystemserver.model