<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.competitionmanagementsystemserver.mapper.CompetitionTeamMapper">
  <resultMap id="BaseResultMap" type="com.juno.competitionmanagementsystemserver.model.CompetitionTeam">
    <!--@mbg.generated-->
    <!--@Table graduation.competition_team-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="competition_id" jdbcType="INTEGER" property="competitionId" />
    <result column="is_registration_review_pass" jdbcType="TINYINT" property="isRegistrationReviewPass" />
    <result column="race_track_id" jdbcType="TINYINT" property="raceTrackId" />
    <result column="work_id" jdbcType="INTEGER" property="workId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, create_time, update_time, `comment`, competition_id, is_registration_review_pass, 
    race_track_id, work_id
  </sql>
</mapper>