<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.competitionmanagementsystemserver.mapper.ManagerLevelAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.juno.competitionmanagementsystemserver.model.ManagerLevelAuthority">
    <!--@mbg.generated-->
    <!--@Table graduation.manager_level_authority-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manager_level_id" jdbcType="INTEGER" property="managerLevelId" />
    <result column="authority_id" jdbcType="INTEGER" property="authorityId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, manager_level_id, authority_id
  </sql>
</mapper>