<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.competitionmanagementsystemserver.mapper.StudentInfoMapper">
  <resultMap id="BaseResultMap" type="com.juno.competitionmanagementsystemserver.model.StudentInfo">
    <!--@mbg.generated-->
    <!--@Table graduation.student_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="faculty" jdbcType="VARCHAR" property="faculty" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="telephone" jdbcType="INTEGER" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, sex, class_id, faculty, major, telephone, email, create_time, update_time
  </sql>
</mapper>