<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.competitionmanagementsystemserver.mapper.TeamStuMapper">
  <resultMap id="BaseResultMap" type="com.juno.competitionmanagementsystemserver.model.TeamStu">
    <!--@mbg.generated-->
    <!--@Table graduation.team_stu-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="order" jdbcType="TINYINT" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, team_id, stu_id, `order`
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update graduation.team_stu
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="team_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.teamId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="stu_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.stuId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`order` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.order,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update graduation.team_stu
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="team_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.teamId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.teamId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="stu_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.stuId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.stuId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`order` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.order != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.order,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into graduation.team_stu
    (team_id, stu_id, `order`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.teamId,jdbcType=INTEGER}, #{item.stuId,jdbcType=INTEGER}, #{item.order,jdbcType=TINYINT}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.juno.competitionmanagementsystemserver.model.TeamStu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into graduation.team_stu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      team_id,
      stu_id,
      `order`,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{teamId,jdbcType=INTEGER},
      #{stuId,jdbcType=INTEGER},
      #{order,jdbcType=TINYINT},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      team_id = #{teamId,jdbcType=INTEGER},
      stu_id = #{stuId,jdbcType=INTEGER},
      `order` = #{order,jdbcType=TINYINT},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.juno.competitionmanagementsystemserver.model.TeamStu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into graduation.team_stu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="order != null">
        `order`,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        #{order,jdbcType=TINYINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        `order` = #{order,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>