<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.competitionmanagementsystemserver.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.juno.competitionmanagementsystemserver.model.User">
    <!--@mbg.generated-->
    <!--@Table graduation.`user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="verification_time" jdbcType="TIMESTAMP" property="verificationTime" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="tea_id" jdbcType="INTEGER" property="teaId" />
    <result column="Identity" jdbcType="VARCHAR" property="identity" />
    <result column="manage_id" jdbcType="INTEGER" property="manageId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, nickName, create_time, updated_time, open_id, verification_time, session_key, 
    phone, avatarUrl, gender, `language`, city, country, province, `password`, stu_id, 
    tea_id, `Identity`, manage_id
  </sql>
</mapper>