<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juno.competitionmanagementsystemserver.mapper.WorkInfoMapper">
  <resultMap id="BaseResultMap" type="com.juno.competitionmanagementsystemserver.model.WorkInfo">
    <!--@mbg.generated-->
    <!--@Table graduation.work_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_name" jdbcType="VARCHAR" property="workName" />
    <result column="is_review_pass" jdbcType="TINYINT" property="isReviewPass" />
    <result column="work_url" jdbcType="VARCHAR" property="workUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.juno.competitionmanagementsystemserver.model.WorkInfo">
    <!--@mbg.generated-->
    <!--@Table graduation.work_info-->
    <result column="review_notes" jdbcType="LONGVARCHAR" property="reviewNotes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, work_name, is_review_pass, work_url, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    review_notes
  </sql>
</mapper>